<div class="container" style="margin-top: 10%; max-width: 350px">
  <div class="formPage">
    <div class="text-center">
      <h1>Changement de mot de passe</h1>
      <br>
    </div>
    <div>
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group">
          <label>Mot de passe actuel</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Nouveau mot de passe</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Les mots de passe doivent avoir au minimum 3 caractères.
          </p>
        </div>

        <div class="form-group">
          <label>Confirmez votre mot de passe</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3" required=""/>
          <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
            Les mots de passe doivent être identiques.
          </p>
        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-primary col-xs-12" type="submit">Sauvegarder</button>
        <!-- Dirty hack to make button position appear correctly -->
        <p style="text-indent: -9999px; ">Test</p>
      </form>
    </div>
  </div>
</div>
