<div class="container" style="margin-top: 10%; max-width: 350px">
  <div class="formPage">
    <div class="text-center">
      <h1>Connexion</h1>
      <br>
    </div>

    <div>
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Adresse courriel</label>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="email" name="email" placeholder="Entrez votre adresse courriel" class="form-control" ng-model="vm.user.email" required>
          </div>
        </div>

        <div class="form-group">
          <label>Mot de passe</label>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
            <input type="password" name="password" placeholder="Entrez votre mot de passe" class="form-control" ng-model="vm.user.password" required>
          </div>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
            Veuillez entrer votre adresse courriel et votre mot de passe.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Veuillez entrer une adresse courriel valide.
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div class="text-center">
          <br>
          <button class="btn btn-default btn-primary col-xs-12" type="submit" style="margin-bottom: 10px">
            Connexion
          </button>
          <a ui-sref="signup">
            Inscription
          </a>
        </div>

      </form>
    </div>
  </div>
</div>
