#geoportailElements li{
  margin-bottom: 20px;
}

.tutoImages{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tutoImages img{
  margin-bottom: 10px;
}

#geoportailBanner{
  background:url(../../../assets/images/geoportail_banner.jpg) no-repeat;
  background-size: cover;
}
