legend{
  position: absolute;
  /* One less than other leaflet elements*/
  right: 10px;
  top: 85px;
  z-index: 799;
  width: 150px;
  height: 200px;
  min-height: 150px;
  border: 0;
}

@media (max-width: 768px){
  legend{
    top: 10px;
  }
}

#legendBlock{
  background-color: rgba(255, 255, 255, 1);
  font-size: 13px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}

