@media print {

  leaflet-map, #map, #map1, #map2, .map {
    overflow: visible;
    height: auto;
    display: block;
    position: relative;
  }

  #map1{
    page-break-after: always;
    page-break-inside: avoid;
  }

  legend{
    right: 0;
    left: 10px;
  }

  .leaflet-control-attribution{
    position: absolute;
  }

}
