@media print {

  #map, #map1, #map2{
    overflow: visible;
    height: auto;
    display: block;
    position: relative;
  }

  legend{
    right: 0;
    left: 10px;
  }

  #legendBlock{
    background: none;
    border: none;
  }

  stat-area{
    top: 0;
  }

  #chartBlock{
    position: absolute;
  }

  #mapsArea{
    height: 3850px;
  }

}
