@media print {

  #map, #map1, #map2{
    overflow: visible;
    height: auto;
    display: block;
    position: relative;
  }

  legend{
    right: 0;
    left: 10px;
  }

  #chartBlock{
    position: absolute;
  }

}
