<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Armature</a>
    </div>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="about"> <i class="fa fa-question-circle"> </i> À propos </a></li>
        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn"> <i
          class="fa fa-envelope"> </i> Contact </a></li>
        <li ui-sref-active="active"><a ui-sref="partners"> <i class="fa fa-users fontawesome"> </i> Partenaires </a></li>
        <li ui-sref-active="active"><a ui-sref="mapMenu"> <i class="fa fa-map"> </i> Cartes </a></li>
        <li class="dropdown">
          <a role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flask"> </i> Lab <b
            class="caret"></b> </a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="labMenu" data-toggle="collapse" data-target=".navbar-collapse.in"> <i class="fa fa-wrench"> </i> Menu des labs</a></li>
            <li ui-sref-active="active"><a ui-sref="labGeoportail" data-toggle="collapse" data-target=".navbar-collapse.in"> <i class="fa fa-wrench"> </i> Géoportail</a></li>
            <li ui-sref-active="active"><a ui-sref="labMosaicking" data-toggle="collapse" data-target=".navbar-collapse.in"> <i class="fa fa-wrench"> </i> Assemblage pseudo-ortho</a></li>
            <li ui-sref-active="active"><a ui-sref="labClassification" data-toggle="collapse" data-target=".navbar-collapse.in"> <i class="fa fa-wrench"> </i> Classification</a></li>
            <li class="divider hidden-xs"></li>
            <li ui-sref-active="active"><a ui-sref="labWebMap" data-toggle="collapse" data-target=".navbar-collapse.in"> <i class="fa fa-wrench"> </i> WebMap</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active" ng-hide="$ctrl.isLoggedIn()" > <a ui-sref="signup"> Inscription </a> </li>
        <li ui-sref-active="active" ng-hide="$ctrl.isLoggedIn()" > <a ui-sref="login"> Connexion </a> </li>
        <li ui-sref-active="active" ng-show="$ctrl.isAdmin()" > <a ui-sref="admin"> Admin </a> </li>
        <li ui-sref-active="active" ng-show="$ctrl.isLoggedIn()" > <a ui-sref="settings"> Paramètres </a> </li>
        <li ui-sref-active="active" ng-show="$ctrl.isLoggedIn()" > <a ui-sref="logout"> Déconnexion </a> </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="well well-sm">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Envoyez nous un message &nbsp;&nbsp;&nbsp;<i class="fa fa-paper-plane-o"></i></h3>
            <form class="form" name="form" ng-submit="$ctrl.sendMail(form)" novalidate ng-hide="$ctrl.successful">

              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="h4">Nom</label>
                  <input type="text" name="name" class="form-control" placeholder="Nom & Prénom" ng-model="$ctrl.message.name" required>
                </div>
                <div class="form-group col-sm-6">
                  <label class="h4">Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Votre email" ng-model="$ctrl.message.email" required>
                </div>
              </div>

              <div class="form-group">
                <label class="h4">Message</label>
                <textarea name="text" class="form-control" rows="5" placeholder="Entrez votre message" ng-model="$ctrl.message.text" required></textarea>
              </div>

              <div class="form-group has-error h4">
                <p class="help-block" ng-show="form.name.$error.required && $ctrl.submitted">
                  Veuillez remplir votre nom.
                </p>
                <p class="help-block" ng-show="form.email.$error.required && $ctrl.submitted">
                  Veuillez remplir votre adresse courriel.
                </p>
                <p class="help-block" ng-show="form.text.$error.required && $ctrl.submitted">
                  Veuillez remplir le sujet du message.
                </p>
                <p class="help-block" ng-show="form.email.$error.email && $ctrl.submitted">
                  Veuillez entrer une adresse courriel valide.
                </p>

                <p class="help-block">{{ $ctrl.errors.sendMail }}</p>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg pull-right">Envoyer</button>
                <!-- Dirty hack to make button position appear correctly -->
                <p style="text-indent: -9999px; ">Test</p>
              </div>
            </form>

            <div ng-show="$ctrl.successful">
              <div class="alert alert-success">
                <p><strong>Succès!</strong> Votre message a bien été envoyé.</p>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
