#partnerPage{
  display: inline-block;
  background: #ffffff;
  margin-top: 50px;
}

#partnerPage .col-md-3, #partnerPage .col-md-9{
  padding: 0;
}

.partnerHeaderSection{
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.partnerHeaderSection h1{
  color: #555;
  font-weight: 200;
  text-align: center;
}

.partnerSection{
  background: #ffffff;
  padding: 60px 15px;
}

.partnerSection h3{
  font-size: 22px;
  margin: 0 0 10px;
  line-height: 1.4;
}

.partnerSection h3 a{
  color: #333;
}

.partnerSection h3 a:hover{
  color: #e74c3c;
  text-decoration: underline;
}

.partnerSectionTitle{
  padding-left: 5%;
  padding-bottom: 30px;
}

.partnerSectionTitle h2{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Roboto Slab', sans-serif;
  /*background-color: rgb(235, 235, 235);
  padding: 10px;
  padding-right: 30px;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;*/
}

.partnerSubtitle{
  color: #888;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
}

.partnerText{
  text-align: justify;
}

.partnerSection hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.partnerImage{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#sidebarLinks{
  background-color: #222;
  min-height: 100%;
  width: 100%;
  position: fixed;
  padding-top: 60px;
  font-size: 18px;
}

#sidebarLinks a{
  color: #fff;
}

#sidebarLinks ul{
  list-style-type: none;
}

/* make sub radio buttons smaller*/
#sidebarLinks li ul li {
  font-size: 16px;
}

#sidebarLinks li.active a{
  color: #E75539;
}

#sidebarLinks li ul li a {
  color: #e6e6e6;
}

#sidebarLinks li ul {
  padding-left: 20px;
  padding-bottom: 10px;
}

#sidebarLinks li.active ul li a{
  color: #e6e6e6;
}

#sidebarLinks a:hover{
  text-decoration: none;
  border-bottom: 2px solid #E75539;
}





