/* Vertical Accordion Style */

.panel-group{
    position: relative;
    margin: 40px auto 0 auto;
    margin-top: 200px;
}

.panel{
    width: 100%;
    left: 0;
}

.panel-collapse{
    height: 400px;
    overflow-y: auto;
}

.panel-body{
    font-size: 22px;
    font-style: italic;
    font-family: Georgia, serif;
    background-color: rgba(99, 99, 99, 0.7);
    border-radius: 2em;
    margin: 1em;
}

.panel-title {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    margin-left: 20px;
    color: #fff;
    text-shadow: 0px 0px 1px white;
}

.accordion1 {
    background: #000 url(../../media/other/111.jpg) no-repeat center center;
}

.accordion2 {
    background: #000 url(../../media/other/222.jpg) no-repeat center center;
}

.accordion3 {
    background: #000 url(../../media/other/333.jpg) no-repeat center center;
}

.accordion4{
    background:#000 url(../../media/other/444.jpg) no-repeat center center;
}

.panel-body ul {
    margin-top: 20px;
}

.panel-body ul li {
    float: left;
    margin: 2px;
}

.panel-body a:link {
    color: #fff;
    padding: 3px 6px;
    text-decoration: underline;
}

.panel-body a:link:hover {
    color: #484aee;
}

.panel-title a:focus, a:hover{
    text-decoration: none;
}
