html, body, #container{
	height : 100%;
	width : 100%;
	margin : 0;
	padding : 0;
	overflow:hidden;
}
body {
	padding-top: 50px;
}

#map1 {
	float: left;
	position:absolute;
	left:0;
	right:0%;	
	top:50px;
	bottom:0px;				
}
#sidebar1,#sidebar2 {
	position: absolute;
	left:85%;
	right:0;
	height: 50%;
}
#sidebar1 {
	background-color: #132839;
	text-align : center;
	overflow:auto;
	height:50%
}
#sidebar2 {
	bottom: -50px;
	background-color : #ce3d3d;
	opacity: 0.5;           
	text-align : center;
	overflow:hidden;
	height:50%;
}
#features {
  margin: 0px;
  background-color: green;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar1-content {
  padding : 8px;
  	overflow:auto;
}
#apptitle {
  color : #a7a7a7;
  overflow:hidden;
}

.instructions1 {
  color : #ffffff;
  padding : 8px 15px;
}
.instructions2 {
  color : #fff4d7;
  padding : 8px 15px;
}
.instructions3 {
  color : #a7a7a7;
  padding : 8px 15px;
  font-size: 12px;
  text-align: left;
}
.leaflet-control {
	float: none;
	display: inline-block
}
.leaflet-control-layers label {
	font-weight: normal;
	margin-bottom: 0px;
}
.table {
	margin-bottom: 0px;
}
.navbar .navbar-brand {
	font-weight: bold;
	font-size: 30px;
	color: white;
}
.navbar-collapse.in {
	overflow-y: hidden
}
.leaflet-container {
	cursor: All-Scroll !important;
}
.leaflet-control-layers {
	overflow: auto;
}
.leaflet-control-layers label {
	font-weight: normal;
	margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
	margin: 2px;
}
.leaflet-control-layers-expanded { background: rgba(255,255,255,0.3) }

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
  
  
  
  
  .info {
	position: absolute;
	left:85%;
	right:0;
	height: 50%;
	bottom: -50px;
	background-color : #ce3d3d;
	text-align : left;
	overflow:auto;
	padding : 8px 15px;

  }
  .info div {
    background:#fff;
    padding:10px;
    border-radius:3px;
    }