.mapImage {
    position: relative;
    margin-bottom: 30px;
}

.webarmature {
    z-index: 0;
    width: 90%;
    height: 90%;
}

.popup {
    display: none;
    position: absolute;
    background: #fff;
    opacity: 0.85;
    border-radius: 2px;
    width: 50%;
    height: 20%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #000;
    z-index: 1;
    margin-top: 20%;
    margin-left: -70%;
    justify-content:center;
    align-items:center;
}

#simpleView:before{
    content: "";
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.webarmature:hover + #simpleView {
    display: inline-flex;
}

#simpleView:hover{
    display: inline-flex;
}

#doubleView:before{
    content: "";
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.webarmature:hover + #doubleView{
    display: inline-flex;
}

#doubleView:hover{
    display: inline-flex;
}