.mapImage {
    position: relative;
    margin-bottom: 30px;
}

.webarmature {
    z-index: 0;
    width: 100%
}

.popup {
    display: block;
    position: absolute;
    background: #fff;
    opacity: 0.85;
    border-radius: 2px;
    width: 40%;
    height: 15%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #000;
    z-index: 1;
    text-align:center;
    line-height: 300%;
    left: 30%;
    top: 40%;
}

#map1:hover .popup{
    z-index: 2;
    display: block;
}

#map2:hover .popup{
    z-index: 2;
    display: block;
}