label {
    font-weight: normal;
    margin-bottom: 1em;
}

#map1 {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 100%;
}

#selector_menu1 {
    position: absolute;
    z-index: 9000;
}

hr{
    margin-bottom: 5px;
    margin-top: 10px;
}

.mapSelection{
    padding-left: 1.5em;
}

.sidebar-content{
    background-color: rgba(255, 255, 255, 1);
}

.panel{
    box-shadow: 0 0 0 white;
}


.sidebarButton:focus{
    background-color: #fff;
    border-color: #ccc;
}

.selected:focus{
    background-color: #e6e6e6;
    border-color: #adadad;
}

.sidebarButton{
    background-color: #fff;
    border-color: #ccc;
}

.selected{
    background-color: #e6e6e6;
    border-color: #adadad;
}

.sidebarButton:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

.selected:hover{
    background-color: #e6e6e6;
    border-color: #6e6e6e;
}

