html, body, #container{
	height: 100%;
	width: 100%;
	margin: 0;
	overflow:auto;
	overflow-x: hidden;
}
body{
	background:url(../../media/other/background_lyon.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#000000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:14px;	overflow:auto;

}
.fix{
    width:100%;height:100%;
    position: fixed;
    margin-bottom:40px;
    top:0;
    z-index: 1;
    background-image: url(../../media/other/background_lyon.jpg) no-repeat center center fixed;
}
.fixed{
 position:fixed;
 top:0;
 z-index: 1;
 width:100%;
 height:100%;
 background-image:url(../../media/other/background_lyon.jpg) no-repeat center center fixed;
}

#map1{
	position:absolute;
	top:50px;
	bottom:0px;	
	width: 100%;	
}

#selector_menu1{
	position: absolute;
	z-index: 9000;
}
	  

	