label {
    font-weight: normal;
    margin-bottom: 1em;
}

#map1 {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 100%;
}

#selector_menu1 {
    position: absolute;
    z-index: 9000;
}

hr{
    margin-bottom: 5px;
    margin-top: 10px;
}

.sidebarButton:focus{
    background-color: #FFFFFF;
    border-color: #adadad;
}

.sidebarButton:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

.mapSelection{
    padding-left: 1.5em;
}

.panel{
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 white;
}