label {
    font-weight: normal;
    margin-bottom: 1em;
}

.map {
    float: left;
    position: absolute;
    left: 0;
    right: 50%;
    top: 50px;
    bottom: 0;
    width: 49.9%;
}

#map2 {
    left: 50%;
}

hr{
    margin-bottom: 5px;
    margin-top: 10px;
}

.btn-default:focus{
    background-color: #FFFFFF;
    border-color: #adadad;
}

.btn-default:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

.mapSelection{
    padding-left: 1.5em;
}