.font-italic{
  font-style: italic;
}

.text-bold{
  font-weight: bold;
}

.dataTitle{
  padding-bottom: 30px;
}

.dataSubtitle{
  font-weight: bold;
}

#aboutBanner{
  background:url(../../assets/images/about_banner.jpg) no-repeat;
  background-size: cover;
  width: 100%;
}


