<div class="container">
  <div class="row jumbotron" id="jumbo">
    <div class="col-sm-12">
      <h1>Inscription</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="alert alert-success" ng-show="vm.formValidated">
          <strong>Demande d'accès envoyé!</strong> Veuillez attendre l'approbation de notre administrateur pour pouvoir vous connecter.
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Nom</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name" required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            Veuillez entrer votre nom.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.occupation.$valid && vm.submitted, 'has-error': form.occupation.$invalid && vm.submitted }">
          <label>Occupation</label>

          <input type="text" name="occupation" class="form-control" ng-model="vm.user.occupation" required/>
          <p class="help-block" ng-show="form.occupation.$error.required && vm.submitted">
            Veuillez entrer votre occupation.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Adresse courielle</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Veuillez entrer une adresse courriel valide.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            Veuillez entrer une adresse courriel.
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Mot de passe</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" ng-minlength="3" required mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Les mots de passe doivent avoir au minimum 3 caractères.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted, 'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirmez le mot de passe</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.password" ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Les mots de passe doivent être identiques.
          </p>
        </div>

        <div>
          <button class="btn btn-default btn-primary" type="submit">
            Inscription
          </button>
          <a class="btn btn-default" ui-sref="login">
            Connexion
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
