<div class="container defaultContainer" style="max-width: 350px">
  <div class="formPage">
    <div class="text-center">
      <h1>Inscription</h1>
      <br>
    </div>
    <div>
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="alert alert-success" ng-show="vm.formValidated">
          <strong>Demande d'accès envoyé!</strong> Veuillez attendre l'approbation de notre administrateur pour pouvoir vous connecter.
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Nom</label>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" placeholder="Entrez votre nom" name="name" class="form-control" ng-model="vm.user.name" required/>
          </div>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            Veuillez entrer votre nom.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.occupation.$valid && vm.submitted, 'has-error': form.occupation.$invalid && vm.submitted }">
          <label>Emploi</label>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-suitcase fa" aria-hidden="true"></i></span>
            <input type="text" placeholder="Entrez votre occupation" name="occupation" class="form-control" ng-model="vm.user.occupation" required/>
          </div>
          <p class="help-block" ng-show="form.occupation.$error.required && vm.submitted">
            Veuillez entrer votre emploi.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.occupation.$valid && vm.submitted, 'has-error': form.occupation.$invalid && vm.submitted }">
          <label>Lieu d'activité</label>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-globe fa" aria-hidden="true"></i></span>
            <input type="text" placeholder="Entrez votre lieu d'occupation" name="occupationPlace" class="form-control" ng-model="vm.user.occupationPlace" required/>
          </div>
          <p class="help-block" ng-show="form.occupationPlace.$error.required && vm.submitted">
            Veuillez entrer votre lieu d'activité.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Adresse courriel</label>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="email" placeholder="Entrez votre adresse courriel" name="email" class="form-control" ng-model="vm.user.email" required mongoose-error/>
          </div>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Veuillez entrer une adresse courriel valide.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            Veuillez entrer une adresse courriel.
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Mot de passe</label>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
            <input type="password" placeholder="Entrez votre mot de passe" name="password" class="form-control" ng-model="vm.user.password" ng-minlength="3" required mongoose-error/>
          </div>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Les mots de passe doivent avoir au minimum 3 caractères.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted, 'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirmez le mot de passe</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
            <input type="password" placeholder="Confirmez votre mot de passe" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.password" ng-minlength="3" required/>
          </div>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Les mots de passe doivent être identiques.
          </p>
        </div>

        <div class="text-center">
          <button class="btn btn-default btn-primary col-xs-12" type="submit">Inscription</button>
          <a ui-sref="login">
            Connexion
          </a>
        </div>

      </form>
    </div>
  </div>
</div>
