stat-area{
  position: absolute;
  z-index: 999;
  width:50%;
  height:15%;
  padding: 10px;
  background-color: rgba( 255, 255, 255, 0.6);
}

#chartNumbers{
  float: right;
}

.legend {
  font-size: 12px;
}

rect {
  stroke-width: 2;
}
