.map {
  float: left;
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 49.9%;
}

#map1 {
  right: 50%;
}

#map2 {
  left: 50%;
}

@media(max-width: 768px){

  .map {
    height: calc(49.9% - 25px);
    width: 100%;
    bottom: 50%;
  }

  #map2 {
    top: calc(49.9% + 25px);
    left: 0;
  }

}
